:root {

    /*------Fonts------*/
    --inter:'Inter', sans-serif;
    --DM: 'DM Sans', sans-serif;

    /*------Colors------*/
    --gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

/*--Convención de estilos Buenas pratcitas
1- Estilos de posicionamiento.
2- Modelo de Caja (Box Model)
3- Todo de tipografia.
4- Todos los temas visuales.
5- Otros (o miselaneos (ummhh milanesas) )
*/

*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: var(--DM);
}

